<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Commingsoon 1</title>
		<link rel="icon" href="assets/img/logo.png" />
		<link rel="stylesheet" href="assets/css/all.min.css" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body>
		<div class="container">
			<!-- logo -->
			<div class="logo">
				<img src="./assets/img/logo.png" />
			</div>
			<!-- slogan -->
			<div class="slogan">
				<h1 class="slogan--title">Coming soon</h1>
				<p class="slogan--desc">This website is under construction</p>
			</div>
			<!-- social icons -->
			<div class="social">
				<ul>
					<li>
						<a href=""><i class="fab fa-facebook-f"></i></a>
					</li>
					<li>
						<a href=""><i class="fab fa-twitter"></i></a>
					</li>
					<li>
						<a href=""><i class="fab fa-instagram"></i></a>
					</li>
					<li>
						<a href=""><i class="fab fa-youtube"></i></a>
					</li>
				</ul>
			</div>
			<!-- progressor -->
			<div class="progressor-wrap">
				<div class="progressor-item"></div>
			</div>
		</div>
	</body>
</html>
